.react-datepicker__day--selected{ 
    background: rgb(47, 34, 130);
    border-radius: 25px;   
}
 .react-datepicker__header--custom{
    background: rgb(47, 34, 130);

    color: white;
} 
.react-datepicker__day-name{
    color: white;

}
.react-datepicker-wrapper{
    width: auto;
}